<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776500448600-gmfkqv698iil6b6d43em988dorlogep4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776500448600-gmfkqv698iil6b6d43em988dorlogep4</string>
	<key>API_KEY</key>
	<string>AIzaSyA8aSUDazxO6TuJrnoUoz8DUnxWWNkTp-I</string>
	<key>GCM_SENDER_ID</key>
	<string>776500448600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.euroDocs.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eurotech-docs-77f50</string>
	<key>STORAGE_BUCKET</key>
	<string>eurotech-docs-77f50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776500448600:ios:5bb52fb7d18f297b5ea92d</string>
	<key>DATABASE_URL</key>
	<string>https://eurotech-docs-77f50-default-rtdb.firebaseio.com</string>
</dict>
</plist>